@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-container {
    @apply max-w-screen-xl m-auto px-4 my-0;
  }

  .uni-spacing {
    @apply px-4 md:px-8 m-auto;
  }

  .apply-spacing {
    @apply xl:max-container uni-spacing;
  }

  .section-spacing {
    @apply w-full xl:py-32 py-16 z-0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  @apply font-CeraPro-Medium;
}
